{
  "rules": {
    "arrow-body-style": 0,
    "no-shadow": 0,
    "no-await-in-loop": 0,
    "no-restricted-syntax": [
      "error",
      "ForInStatement",
      "LabeledStatement",
      "WithStatement",
    ],
    "operator-linebreak": ["error", "after"]
  },
  "globals": {
    "document": true,
    "window": true,
    "fetch": true,
    "Headers": true
  },
  "extends": "airbnb-base"
}
