{
  "rules": {
    "arrow-body-style": 0,
    "no-shadow": 0,
    "no-await-in-loop": 0
  },
  "globals": {
    "document": true,
    "fetch": true,
    "Headers": true
  },
  "extends": "airbnb-base"
}
